<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static '/style.css'%}">
</head>
<body>
<h1>Hello' Welcome Beginners</h1>
<h2>Here is your jobs locations</h2>
<ul>
    <li><a class="btn btn-primary btn-lg" href="/hybd">Hyderabad</a></li>
    <li><a class="btn btn-primary btn-lg" href="/bng">Bengaluru</a></li>
    <li><a class="btn btn-primary btn-lg" href="/pune">Pune</a></li>
</ul>
</body>
</html>